body {
    background-color: #191d7b;
    max-width: 512px;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Sigmar", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

p {
    font-family: "DM Sans", sans-serif;
    padding-right: 50px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;

}

.scheda {
    position: relative;
    border-radius: 2rem;
    background-color: #5d64d1;
    margin: 3rem;
    padding-bottom: 2rem;
}

.titolino {
    padding-top: 4.5rem;
    padding-left: 1.25rem;
    padding-right: 5rem;
}

.imgcard {
    margin: 2rem;
    border-radius: 2rem;
    width: 354px;
}

.vidcard {
    margin: 2rem;
    border-radius: 2rem;
    width: 354px;
}

.intro {
    text-align: center;
    padding-top: 3rem;

}

#b1 {
    border-radius: 0.75rem;
    min-height: 3rem;
    min-width: 21rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-color: transparent;
}

#b2 {
    border-radius: 0.75rem;
    min-height: 3rem;
    min-width: 21rem;
    font-weight: 600;
    background-color: #5865f2;
    color: white;
    margin-bottom: 2rem;
    border-color: transparent;
}

#titolo {
    
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

#paragrafo {
    padding-left: 85px;
    padding-right: 85px;
}
.icon{
    position: absolute;
    left: 10%;
    transform: translate(-0%, -50%);
    max-width: 30%;
}